body {
    font-family: Arial;
    text-align: center;
    background: #a8e6cf;
}

.card {
    background: pink;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}

img {
    width: 200px;
    border-radius: 10px;
}